@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-gray-100 text-gray-900 transition-colors duration-200;
  }
  :root.dark body {
    @apply bg-gray-900 text-white;
  }
}